//- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See full license in root of repo. -->
//- 
//- This file defines the UI of the task pane page.

extends layout
        
block content
  div#connectContainer
    div.ms-bgColor-neutralLight.welcome
      div.ms-fontSize-xl.ms-fontColor-themePrimary Welcome
      div.ms-font-l This add-in demonstrates how to connect to Microsoft Graph from an add-in.
          div.search-body
           <script type="text/javascript">
           function ExampleJS(){
           var jSearch = document.getElementById("tSearch").value;
           console.log("Your name is: mud" & jSearch)
           </script>
          button#ExampleJS.popupButton.ms-Button.ms-Button--primary
          span.ms-Button-label Search SharePoint 
           <form name="searchForm" onSubmit="ExampleJS()">
           <input type="text" id=tSearch name="searchPhrase"/><br />
           <input type="submit" value="search"/>
           </form>
           window.alert(jSearch)



  
    div#message-area.welcome.ms-font-l
  
  footer#footer.homefooter.ms-bgColor-neutralLight
    div.container
      p(style="text-align:center;") 
        button#getGraphDataButton.popupButton.ms-Button.ms-Button--primary
          span.ms-Button-label Get SharePoint File Names
